
@{
    ViewBag.Title = "Index";
}

<main class="p-5 flex gap-5 justify-center">
    <a href="/surgeon/search">
        <div class="card">
            Search Driver
        </div>
    </a>
    <div class="card">
        View Traffic Rules
    </div>
    <div class="card">
        Report Emergency
    </div>
    <div class="card">
        History
    </div>
</main>
