
@{
    ViewBag.Title = "Search Driver";
}

<main class="mt-5">
    <div class="flex justify-center gap-5">
        <div><input type="text" name="name" id="name" placeholder="Enter Name" class="rounded-input"></div>
        <div><input type="text" name="licence" id="licence" placeholder="Enter Licence No" class="rounded-input"></div>
        <div><input type="text" name="vehicle" id="vehicle" placeholder="Vehicle No" class="rounded-input"></div>
    </div>

    <div class="mt-5">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 rounded-tl-lg">ID</th>
                    <th scope="col" class="px-6 py-3">Photo</th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Licence</th>
                    <th scope="col" class="px-6 py-3">Rating</th>
                    <th scope="col" class="px-6 py-3 rounded-tr-lg">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">1</td>
                    <td class="px-6 py-4">Photo</td>
                    <td class="px-6 py-4">MD. Ifthe Kharul Islam</td>
                    <td class="px-6 py-4">001012854840</td>
                    <td class="px-6 py-4">10</td>
                    <td class="px-6 py-4">Add Offence</td>
                </tr>

                <tr class="table-row">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">1</td>
                    <td class="px-6 py-4">Photo</td>
                    <td class="px-6 py-4">MD. Ifthe Kharul Islam</td>
                    <td class="px-6 py-4">001012854840</td>
                    <td class="px-6 py-4">10</td>
                    <td class="px-6 py-4">Add Offence</td>
                </tr>
                <tr class="table-row">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">1</td>
                    <td class="px-6 py-4">Photo</td>
                    <td class="px-6 py-4">MD. Ifthe Kharul Islam</td>
                    <td class="px-6 py-4">001012854840</td>
                    <td class="px-6 py-4">10</td>
                    <td class="px-6 py-4">Add Offence</td>
                </tr>
            </tbody>
        </table>
    </div>

</main>

