
@{
    ViewBag.Title = "Index";
}

<h2>
    <main class="p-5 flex gap-5 justify-center">
        <a href="/driver/payment">
            <div class="card">
                Payment
            </div>
        </a>

        <a href="/driver/Rules">
            <div class="card">
                View Traffic Rules
            </div>
        </a>

        <a href="/driver/Crime">
            <div class="card">
                View history of case
            </div>
        </a>

        <a href="/driver/Warnings">
            <div class="card">
                View Warnings
            </div>
        </a>

        <a href="/driver/UpdateDriver">
            <div class="card">
                UpdateDriver
            </div>
        </a>

        <a href="/driver/Vehciles">
            <div class="card">
                Vehicles
            </div>
        </a>
    </main>
</h2>

