
@{
    ViewBag.Title = "Unauthorized";
}

<main class="mt-5">
    <div class="w-full flex justify-center items-center flex-col gap-5">
        <img src="~/Content/illegal.gif" width="40%" />
        <a href=@Model class="btn-primary">Go To Login</a>
    </div>
</main>

